.add-post{
    margin-top: 60px;
    input{
        font-size: 2.4rem;
        font-weight: bold;
    }
    label{
        font-size: 2rem;
    }
    textarea{
        font-size: 1.8rem;
        resize: none;
    }
    .form-group{
        margin:20px auto;
    }
    .custom-select{
        font-size: 1.8rem;

    }

}